core/core.layout
core/main.cpp
core/obj/
core/src/main.cpp
ing/.~lock.Definicion.odt#
core/bin/
gui/obj/
gui/bin/
*.old
*-old
old/
core/*.depend
gui/*.depend
core/*.layout
gui/*.layout
core/Debug
core/.anjuta/
core/.anjuta_sym_db.db
core/Makefile.in
core/aclocal.m4
core/autom4te.cache/
core/compile
core/config.guess
core/config.h.in
core/config.sub
core/configure
core/core.anjuta
core/depcomp
core/install-sh
core/intltool-extract.in
core/intltool-merge.in
core/intltool-update.in
core/ltmain.sh
core/missing
core/po/Makefile.in.in
*~
gui/Debug/
core/src/Makefile.in
gui/.anjuta/
gui/.anjuta_sym_db.db
gui/Makefile.in
gui/acinclude.m4
gui/aclocal.m4
gui/autom4te.cache/
gui/cobani_gui.anjuta
gui/compile
gui/config.guess
gui/config.h.in
gui/config.sub
gui/configure
gui/depcomp
gui/install-sh
gui/intltool-extract.in
gui/intltool-merge.in
gui/intltool-update.in
gui/ltmain.sh
gui/missing
gui/po/Makefile.in.in
gui/src/Makefile.in
